:root{
	/* color palette */
	--gradientElement:linear-gradient(63deg, rgb(104,82,237) 0%, rgb(186, 67, 252) 100%);
	--gradientBackground:linear-gradient(-90deg, rgb(104,82,237) 0%, rgb(186, 67, 252) 100%);
	--primaryColor:rgb(104, 82, 237);
	--secondaryColor:rgb(186, 67, 252);
	--headingColor:rgb(85, 77, 137);
	--textColor:rgb(91, 87, 102);
	--badgeBackground:rgba(225, 228,237, 0.6);
	--badgeText:rgb(239, 113, 113);
	--whiteColor:#fff;
	
	/* fonts */
	--textFont:"Nunito", sans-serif;
	--headingFont:"Poppins", sans-serif;

	/* media sizes */
	--phone:'min-width:600px';
	--tablet:'min-width:768px';
	--desktop:'min-width:1024px';


	/* border radius */
	--bigRadius:100px;
	--smallRadius:10px;

	 /* box shadow */
	--boxShadow:0 0 20px 0 rgba(205, 208, 216);
}

*, *::before, *::after{
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
}
body{
	line-height: 1.5;
	font-family: var(--textFont);
	color: var(--textColor);
}
h1, h2, h3, h3{
	line-height: 1.2;
	font-family: var(--headingFont);
	color: var(--primaryColor);
}
h1{
	font-size: 5rem;
}
h2{
	font-size: 3.8rem;
}
h3{
	font-size: 3rem;
}
p{
	font-size: 2.2rem;
}

/* containers */
.container{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
.flex{
	display: flex;
}
.flex--phone, .flex--tablet{
	flex-direction: column;
}
.flex--center{
	align-items: center;
	justify-content: center;
}
.wrapper{
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* link */
.link{
	position: relative;
	font-size: 1.8rem;
	color: var(--textColor);
	text-decoration: none;
	text-transform: capitalize;
}
.link::after{
	content: '\2192';
	margin-left: 1rem;
	transition: margin-left .5s;
}
.link:hover::after{
	margin-left: 1.5rem;
}

/* button */
.btn{
	border: none;
	background: transparent;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 1.5px;
	font: inherit;
	font-size: 1.8rem;
	font-weight: 700;
	padding: 1rem 2rem;
	border-radius:var(--bigRadius) ;
	cursor: pointer;
}
.btn--outline{
	border: 2px solid var(--primaryColor);
	color: var(--primaryColor);
}
.btn--outline:hover{
	background: var(--primaryColor);
	color: #fff;
}
.btn--gradient{
	border: 2px solid var(--gradientElement);
	background: var(--gradientElement);
	color: #fff;
}
.btn--gradient:hover{
	background: var(--primaryColor);
}

/* action */
.action{
	font-size: 1.8rem;
}
.action .or{
	margin-left: 1rem;
	margin-right: 1rem;
}
.action .btn--gradient{
	margin-right: 3rem;
}

/* circle */
.circle{
	position: relative;
	display: inline-block;
	border-radius: var(--bigRadius);
}
.circle--primary{
	background: var(--primaryColor);
}
.circle--secondary{
	background: var(--secondaryColor);
}
.circle--gradient{
	background: var(--gradientElement);
}
.circle--small{
	width: 25px;
	height: 25px;
}
.circle--medium{
	width: 75px;
	height: 75px;
}
.circle--big{
	width: 125px;
	height: 125px;
}
.circle .play{
	display: block;
    width: 0;
    height: 20px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 21px solid #fff;
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -55%);
}
.circle .down{
	color: var(--whiteColor);
	font-size: 7rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


@media screen and (min-width:600px) {
	.flex--phone{
		flex-direction: row;
	}
}

@media  screen and (min-width:768px) {
	h1{
		font-size: 4.5rem;
	}
	h2{
		font-size: 3.2rem;
	}
	h3{
		font-size: 2.5rem;
	}
	p{
		font-size: 1.8rem;
	}
	.flex--tablet{
		flex-direction: row;
	}
	.link, .btn, .action{
		font-size: 1.6rem;
	}

}

@media screen and (min-width:1024px){
	.wrapper{
		padding-left: 0;
		padding-right: 0;
	}
}
